* {
  box-sizing: border-box;
}

:root {
  --top-nav-color: #2d0000;
  --nav-color: #750005;
  --bg-color: linear-gradient(to bottom, #640004, #2d0000);
  --sd-color: linear-gradient(to bottom, #270000, #430001);
  --font-daniel: "Daniel";
  --text-color: white;
  --main-color: #af0101;
  --big-font: 4.5rem;
  --h2-font: 4rem;
  --h3-font: 2rem;
  --hl-p-font: 2rem;
  --p-font: 1.6rem;
}

html {
  font-size: 62.5%;
}

body {
  background-image: var(--bg-color);
  color: var(--text-color);
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

html,
body {
  scroll-behavior: smooth;
}

/* Common */

.btn {
  display: inline-block;
  min-width: 100px;
  padding: 10px;
  background: #c40000;
  border-radius: 10px;
  font-weight: 500;
  font-size: var(--p-font);
  text-align: center;
  color: var(--text-color);
}

.btn:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

section {
  padding: 100px 15%;
}

strong {
  color: var(--main-color);
}

.side-nav {
  background: var(--sd-color);
  position: absolute;
  left: 0;
  top: 0;
  width: 10%;
  height: 100%;
}

.dropdown {
  margin-left: 7px;
}

.sub-title {
  font-family: var(--font-daniel);
  font-weight: bold;
  font-size: var(--h2-font);
  color: var(--text-color);
}

.contact-info {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--p-font);
  font-weight: 400;
  color: var(--text-color);
}

.desc {
  font-weight: 400;
  font-size: var(--p-font);
  line-height: 1.5;
  color: var(--second-color);
}

/* about */
.about {
  margin-top: 110px;
  background-image: linear-gradient(to top, #270000, #420000);
}

.about .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  align-items: center;
}

.about img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  object-position: center bottom;
}

.about .sub-title {
  margin-bottom: 10px;
}

.about .desc:not(:first-of-type) {
  margin-top: 20px;
}


/* why us */

.why {
  background-image: linear-gradient(to bottom, #460000, #2d0000);
}

.why .container {
  display: flex;
  align-items: center;

}

.why .sub-title {
  margin-bottom: 10px;
}

.why .desc:not(:first-of-type) {
  margin-top: 20px;
}

.why .reasons {
  color: var(--main-color);
}

.why .content .including {
  margin-top: 20px;
}

.why .content .including li {
  font-weight: 400;
  font-size: var(--p-font);
  line-height: 1.5;
  color: var(--main-color);
  font-style: italic;
  margin-top: 5px;
}

.why .content .including li::before {
  content: "";
  display: inline-block;
  width: 3px;
  height: 3px;
  margin-right: 4px;
  border-radius: 50%;
  background: var(--main-color);
}
/* contact */
.contact{
  background-image: url(../img/about/contact.png);
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;

}
.contact .content{
  display: flex;
  justify-content: center;
}
.contact .sub-title{
  text-align: center;
  font-size: calc(var(--h2-font) * 0.8);
}



/* Respossive */

@media (max-width: 1700px) {
  section {
    padding: 100px 12%;
  }
}

@media (max-width: 1600px) {
  .about .container {
    gap: 75px;
  }

  .why .container {
    gap: 75px;
  }
}

@media (max-width: 1400px) {
  section {
    padding: 100px 3%;
  }
}

@media (max-width: 1100px) {
  :root {
    --big-font: 3.8rem;
    --h2-font: 2.6rem;
    --h3-font: 1.8rem;
    --hl-p-font: 1.6rem;
    --p-font: 1.3rem;
    transition: 0.1s;
  }

  section {
    padding: 75px 3%;
  }

  .about {
    margin-top: 90px;
  }

  .about .desc:not(:first-of-type) {
    margin-top: 15px;
  }

  .why .desc:not(:first-of-type) {
    margin-top: 15px;
  }

  .why .content .including {
    margin-top: 15px;
  }
}

@media (max-width: 920px) {
  section {
    padding: 60px 3%;
  }

  .about .container {
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .why .container {
    grid-template-columns: 1fr;
    gap: 50px;
  }

}

@media (max-width: 700px) {
  .about{
    margin-top: 77px;
  }
  .contact .sub-title{
    font-size: calc(var(--h2-font) * 0.7);
  }
  .why .content .including li {

    margin-top: 0px;
  }

  section {
    padding: 50px 3%;
  }
}