* {
    box-sizing: border-box;
}

:root {
    --top-nav-color: #2d0000;
    --nav-color: #750005;
    --bg-color: linear-gradient(to bottom, #640004, #2d0000);
    --sd-color: linear-gradient(to bottom, #270000, #430001);
    --font-daniel: "Daniel";
    --text-color: white;
    --main-color: #af0101;
    --big-font: 4.5rem;
    --h2-font: 4rem;
    --h3-font: 2rem;
    --hl-p-font: 2rem;
    --p-font: 1.6rem;
}

html {
    font-size: 62.5%;
}

body {
    background-image: var(--bg-color);
    color: var(--text-color);
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}

html,
body {
    scroll-behavior: smooth;
}

/* Common */

.btn {
    display: inline-block;
    min-width: 100px;
    padding: 15px 20px;
    background: #c40000;
    border-radius: 10px;
    font-weight: 500;
    font-size: var(--p-font);
    text-align: center;
    color: var(--text-color);
}

.btn:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

section {
    padding: 100px 15%;
}

span {
    color: var(--main-color);
}

.side-nav {
    background: var(--sd-color);
    position: absolute;
    left: 0;
    top: 0;
    width: 10%;
    height: 100%;
}
.dropdown {
    margin-left: 7px;
}
.sub-title {
    font-family: var(--font-daniel);
    font-weight: bold;
    color: var(--main-color);
}
.contact-info {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: var(--p-font);
    font-weight: 400;
    color: var(--text-color);
}

 .desc {
    font-weight: 400;
    font-size: var(--p-font);
    line-height: 1.5;
    color: var(--text-color);
}


/* location */
.location{
    margin-top: 70px;
}
.location .sub-title{
    font-size: var(--h2-font);
    margin-bottom: 30px;
    
}
.location iframe {
    width: 100%;
}

/* Contact Us */

.contact {
    margin-top: 110px;
    position: relative;
    background-image: url(../img/contact/contact-bg.png);
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.contact .sub-title {
    font-size: var(--h2-font);
    font-family: "Daniel";
    text-align: center;
}
.contact .desc{
    margin-top: 10px;
    text-align: center;
}
.contact .container{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.contact .info{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.contact .info .box{
    padding: 15px 0;
    display: flex;
    align-items: center;
    
}


.contact .info .box .icon{
    width: 50px;
    height: 50px;
    background-color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}
.contact .info .box:hover {
    transform: scale(1.1);
}

.contact .info .box .icon i{
    color: var(--main-color);
    font-size: calc(var(--p-font) * 1.3);
}
.contact .info .box .text{
    margin-left: 20px;
}
.contact .info .box .text h3{
    font-weight: 500;
    font-size: var(--h3-font);
    color: var(--main-color);
    line-height: 1.5;
    /* margin-bottom: 5px; */
}
.contact .info .box .text p{
    font-weight: 400;
    font-size: var(--p-font);
    line-height: 1.5;
    color: var(--text-color);
}

.contact-icons{
    margin-top: 20px;
}
.contact-icons i {
    height: 40px;
    width: 40px;
    color: var(--main-color);
    font-size: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 15px;
    transition: all 0.45s ease;
}

.contact-icons i:hover {
    background: var(--text-color);
}
.contact .map{
    width: 50%;
}
.contact .map iframe{
    width: 100%;
    height:400px ;
}

/* Respossive */

@media (max-width: 1700px) {
    section {
        padding: 75px 12%;
    }
}

@media (max-width: 1400px) {
    
    section {
        padding: 75px 3% ;
    }
   
}

@media (max-width: 1100px) {
    :root {
        --big-font: 3.8rem;
        --h2-font: 2.6rem;
        --h3-font: 1.8rem;
        --hl-p-font: 1.6rem;
        --p-font: 1.3rem;
        transition: 0.1s;
    }
    .contact {
        margin-top: 90px;
        
    }
}

@media (max-width: 920px) {
    section {
        padding: 75px 3% ;
    }
    .contact {
        margin-top: 90px;
        
    }
    .contact .container{
        display: block;
    
    }
    .contact .info {
        width: 100%;
    }
    .contact .map{
        margin-top: 50px;
        width: 100%;
    }
}
@media (max-width: 600px) {
    section {
        padding: 75px 3% 50px;
    }
    .contact {
        margin-top: 77px;
        
    }
    
}

