* {
    box-sizing: border-box;
}

:root {
    --top-nav-color: #2d0000;
    --nav-color: #750005;
    --bg-color: linear-gradient(to bottom, #640004, #2d0000);
    --sd-color: linear-gradient(to bottom, #270000, #430001);
    --font-daniel: "Daniel";
    --text-color: white;
    --main-color: #af0101;
    --big-font: 4.5rem;
    --h2-font: 3rem;
    --h3-font: 2rem;
    --hl-p-font: 2rem;
    --p-font: 1.6rem;
}

html {
    font-size: 62.5%;
}

body {
    background-image: var(--bg-color);
    color: var(--text-color);
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}

html,
body {
    scroll-behavior: smooth;
}

/* Common */

.btn {
    display: inline-block;
    min-width: 100px;
    padding: 10px ;
    background: #c40000;
    border-radius: 10px;
    font-weight: 600;
    font-size: var(--p-font);
    text-align: center;
    color: var(--text-color);
}

.btn:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

section {
    padding: 100px 20% 75px;
}

span {
    color: var(--main-color);
}

.side-nav {
    background: var(--sd-color);
    position: absolute;
    left: 0;
    top: 0;
    width: 10%;
    height: 100%;
}
.dropdown {
    margin-left: 7px;
}
.sub-title {
    font-family: var(--font-daniel);
    font-weight: bold;
    color: var(--main-color);
}
.contact-info {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: var(--p-font);
    font-weight: 400;
    color: var(--text-color);
}


/* hero */
.home {
    padding: 0 15%;
}
.home .content {
    background-image: url(../img/drafting/drafting-bg.jpg);
    width: 100%;
    height: calc(80vh - 40px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    opacity: 0.98;

}
.home .heading {
    padding: 30px 0px 0 30px;
    font-size: calc(var(--big-font) * 2.4);
    font-weight: 700;
    text-shadow: 6px 5px 1px black;
    background-color: #5a0002;
    min-width: 50%;
    text-align:end;
    line-height: 0.8;
}

/* Intro */
.intro{
    padding: 0 15%;
}
.intro .container { 
    display: flex;
    /* align-items: center; */
}
.intro .content-left::before{
    content: "";
    display: block;
    position: absolute;
    top: 50px;
    left: 25px;
    width: 80px;
    height: 70px;
    background-image: url(../img/decoration.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.intro .content-left {
    position: relative;
    background-image: linear-gradient(to bottom,#270000,#330001);
    padding: 75px 60px 50px;
    width: 50%;
}
.intro .content-left .desc{
    position: relative;
    font-weight: 500;
    font-size: var(--p-font);
    line-height: 1.5;
    color: var(--text-color);
    margin-bottom: 20px;
   
}
.intro .content-left .desc strong{
    color: var(--main-color);
}
.intro .content-left .including{
    margin-top: 20px;
    
}
.intro .content-left .including li{
    font-weight: 600;
    font-size: calc(var(--p-font) *1.1);
    font-style: italic;
    line-height: 1.5;
    color: var(--main-color);
    
}
.intro .content-left .including li:last-child{
    margin-top: 20px;
    
}
.intro .content-left .including li:not(:last-child)::before{
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    margin-right: 4px;
    border-radius: 50%;
    background: var(--main-color);
}

.intro .content-right::before{
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    right: -130px;
    width: 230px;
    height: 200px;
    background-image: url(../img/decoration.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.intro .content-right {
    position: relative;
    padding: 75px 10px 50px 30px;
    width: 50%;
}

.intro .content-right .desc {
    position: relative;
    font-weight: 500;
    font-size: calc(var(--p-font) *0.85);
    line-height: 1.5;
    color: var(--text-color);
    margin-bottom: 20px;
}
.intro .content-right .reasons{
    font-size: var(--p-font);
    font-weight: 500;
    font-style: italic;
    color: #ffffffc2;
}

.intro .content-right .including{	
    margin-bottom: 20px;	
}
.intro .content-right .including li{
    font-weight: 400;
    font-size: calc(var(--p-font) *0.85);
    /* font-style: italic; */
    line-height: 1.5;
    color: var(--text-color);
}
.intro .content-right .including li::before{
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    margin-right: 4px;
    border-radius: 50%;
    background: var(--text-color);
}
.intro .content-right .brochure {
 margin-top: 30px;
 font-weight: 600;
}

/*Our Project*/
.project {
    padding: 0;
}
.project .content{
    padding: 0 15%;
}
.project .content-item {
    display: flex;
    align-items: baseline;
    width: 50%;
    padding: 50px 60px;
    background-image: linear-gradient(to bottom,#330001,#430001);
    
}
.project .dot{
    margin-right: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-image: linear-gradient(to right, #2d0000, #750005);
}
.project .sub-title{
    font-weight: 600;
    font-size: var(--h2-font);
    color: var(--text-color);
}

.project .container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.project .item {
    flex-grow: 1;
    width: 24%;
}
.project .img-project {
    width: 100%;
    height: 720px;
    object-fit: cover;
}
/* Contact Us */
.contact {
    position: relative;
    padding: 0;
}
.contact .contact-bg {
    padding: 0 15%;
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    object-position: center;
    opacity: 0.3;
}
.contact .content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 75px 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact .desc {
    
    font-family: var(--font-daniel);
    font-weight: bold;
    line-height: 1.5;
    color: var(--text-color);
    font-size: calc(var(--h3-font) * 1.5);
    margin-bottom: 20px;
    text-align: center;
}
.contact .contact-btn {
    background: rgba(100, 0, 4, 0);
    border: 1px solid var(--main-color);
}
/* FAQ  */
.accordion {
    position: relative;
}
.accordion .col {
    
    max-width: 100%;
}

.accordion .sub-title {
    font-size: var(--h2-font);
    font-family: "Daniel";
    margin-bottom: 30px;
}

.accordion .contentBx {
    position: relative;
    /* margin: 5px 0px; */
}

.accordion .contentBx:last-child {
    margin-bottom: 0px;
}

.accordion h3 {
    font-weight: 500;
    font-size: var(--p-font);
    line-height: 1.5;
    position: relative;
    padding: 15px 0px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
    color: var(--text-color);
    cursor: pointer;
}

.accordion .contentBx h3::before {
    content: "+";
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
    font-weight: 300;
    color: var(--text-color);
}

.accordion .contentBx.active h3::before {
    content: "-";
    color: var(--main-color);
}

.accordion .contentBx.active h3 {
    color: var(--main-color);
    background: var(--text-color);
    padding-left: 15px;
    /* margin-left: 10px; */
}

.accordion p {
    font-weight: 400;
    font-size: var(--p-font);
    line-height: 1.5;
    position: relative;
    /* border-left: solid 5px var(--main-color); */
    color: var(--text-color);
    background-color: var(--bg-color);
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}

.accordion .contentBx.active p {
    height: auto;
    padding: 15px;
}





/* Respossive */

@media (max-width: 1700px) {
    section {
        padding: 100px 12% 75px;
    }
    .home {
        padding: 0 12%;
    }
    
    .intro {
        padding: 0 12%;
    }
    .contact .contact-bg {
        padding: 0 12%;
       
    }
    .project .content {
        padding: 0 12%;
    }
}
@media (max-width: 1600px) {
    .home .heading {  
        font-size: calc(var(--big-font) * 2.1);
        
    }
    
}
@media (max-width: 1400px) {
    section {
        padding: 50px 3% 75px;
    }
    .home {
        padding: 0 3%;
    }
    .intro {
        padding: 0 3%;
    }
    .intro .content-right::before {
        right: -30px;
    }
    .project .content {
        padding: 0 3%;
    }
    .project .content-item {
        padding: 30px 60px;
    }
    .project .img-project {
        height: 550px;
    }
    .contact .contact-bg{
        padding: 0 3%;
    }
}

@media (max-width: 1100px) {
    :root {
        --big-font: 3.8rem;
        --h2-font: 2.6rem;
        --h3-font: 1.8rem;
        --hl-p-font: 1.6rem;
        --p-font: 1.3rem;
        transition: 0.1s;
    }
    .home .heading {  	
        font-size: calc(var(--big-font) * 2);		
    }
    .intro .content-left::before {
        display: none;
    }
    .intro .content-left {
        padding: 50px ;
    }
    .intro .content-right::before {
        display: none;
    }
    .intro .content-right {
        padding: 50px 10px 0 30px;
        width: 50%;
    }
    
    .project .img-project {
        height: 400px;
    }
    .contact .contact-bg{
        height: 150px;
    }
    .contact .desc{
        font-size: calc(var(--h3-font) * 1.2);
        margin-bottom: 15px;
    }
    .contact .content{
        padding: 40px 0%;
    }
}

@media (max-width: 920px) {
    .home .heading {  
        font-size: calc(var(--big-font) * 1.7);
        text-shadow: 5px 3px 1px black;
    }
    .project .item {
        width: 33%;
    }
    .contact .desc{
        font-size: var(--h3-font);
        margin-bottom: 15px;
    }
   
}
@media (max-width: 800px) {
    .home .heading {  
        font-size: calc(var(--big-font) * 1.5);
    }
}
@media (max-width: 700px) {
     /* home */
    .home .content {    
        height: calc(50vh - 30px);
    
    }
    .home .heading {
        font-size:3.5rem;
        padding: 15px 0 10px 15px;
    }
    /* Intro */
    .intro .container {
        display: block;
        background-image: linear-gradient(to top, #430001, #270000);
        padding: 30px 20px;
    }
    .intro .content-left {
        background-image:none;
        width: 100%;
        padding: 0;
        margin-bottom: 30px;
    }
    
    .intro .content-right {
        
        padding: 30px 0 0;
        width: 100%;
        border-top: 2px solid white;
    }
      /* project */
    .project {
        padding: 50px 5% 0 5%;
    }
    .project .content{
        
        display: none;
        
    }
    .project .item {
        width: 50%;
    }
    .contact .content {
        padding: 30px 5%;
    }
    /* FAQ */
    .accordion .sub-title {
        font-size: 2.2rem;
       
    }
}
@media (max-width: 500px){
    .project .img-project{
        height: 550px;
    }
}
