* {
    box-sizing: border-box;
}

:root {
    --top-nav-color: #2d0000;
    --nav-color: #750005;
    --bg-color: linear-gradient(to bottom, #640004, #2d0000);
    --sd-color: linear-gradient(to bottom, #270000, #430001);
    --font-daniel: "Daniel";
    --text-color: white;
    --main-color: #af0101;
    --big-font: 4.5rem;
    --h2-font: 4rem;
    --h3-font: 2rem;
    --hl-p-font: 2rem;
    --p-font: 1.6rem;
}

html {
    font-size: 62.5%;
}

body {
    background-image: var(--bg-color);
    color: var(--text-color);
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}

html,
body {
    scroll-behavior: smooth;
}

/* Common */

.btn {
    display: inline-block;
    min-width: 100px;
    padding: 15px 20px;
    background: #c40000;
    border-radius: 10px;
    font-weight: 500;
    font-size: var(--p-font);
    text-align: center;
    color: var(--text-color);
}

.btn:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

section {
    padding: 100px 15%;
}

span {
    color: var(--main-color);
}

.side-nav {
    background: var(--sd-color);
    position: absolute;
    left: 0;
    top: 0;
    width: 10%;
    height: 100%;
}
.dropdown {
    margin-left: 7px;
}
.sub-title {
    font-family: var(--font-daniel);
    font-weight: bold;
    color: var(--main-color);
}
.contact-info {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: var(--p-font);
    font-weight: 400;
    color: var(--text-color);
}
/* Header */
header {
    position: relative;
}

/* Top Header */
.header-top {
    background: var(--top-nav-color);
}
.header-top .container {
    display: flex;
    justify-content: flex-end;
    padding: 0 15%;
}

.header-top-left a {
    padding: 12px 0px ;
}

.header-top .contact-info:hover {
    transform: scale(1.1) translateX(5px);
}

.header-top .contact-info i {
    font-size: calc(var(--p-font) * 1.1);
    color: var(--main-color);
    margin-right: 5px;
}

/* Navbar */
header .navbar {
    position: absolute;
    z-index: 9999;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--nav-color);
    padding: 0px 15%;
    transition: all 0.45s ease;
}
.navbar.sticky {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--nav-color);
    transition: 0.5s ease;
}
.navbar .logo {
    height: 40px;
}

.nav-close-btn,
.nav-menu-btn {
    display: none;
}
.navigation{
    position: relative;
    line-height: 70px;
}
.navigation .menu{
    position: relative;
    display:flex; 
    justify-content: center;  
    list-style: none;
    user-select: none;
}
.menu-item{
    position: relative;
}

.menu-item > a {
    font-weight: 500;
    font-size: var(--p-font);
    padding: 27px 0;
    margin: 0 22.5px;
}

.menu-item > a:hover { 
    text-shadow: 1px 0 0 currentColor;  
    /* opacity: 0.9; */
    transition: 0.1s;
}

.menu-item:last-child > a {
    margin-right: 0;
}

.menu-item .sub-menu{
    position: absolute;
    background: var(--nav-color);
    line-height: 40px;
    top: 70px;  
    pointer-events: none;
    transform: translateY(0px);
    opacity: 0;
    transition: 0.3s;
    transition-property: transform, opacity;
}
.menu-item:hover .sub-menu{
    pointer-events: all;
    transform: translateY(0px);
    opacity: 1;
    
}
.sub-menu .sub-item{
    position: relative;
    width: 175px; 
    cursor: pointer;  
    
}
.sub-menu .sub-item:hover{
    background: var(--text-color)
}


.sub-menu .sub-item a{ 
    font-weight: 400;
    font-size: var(--p-font); 
    display: block;
    padding: 0px 22.5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.sub-menu .sub-item:last-child a {
    border-bottom: none;
}
.sub-menu .sub-item:hover a{
    color: var(--main-color);
}






/* footer */
.end {
    border-top: var(--text-color) solid 3px;
    padding: 0px;
}
.footer-top {
    padding: 30px 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:  #430001;
}

.footer-top-left .logo-footer {
    height: 50px;
    
}
.footer-top-left p {
    font-size: calc(var(--p-font) / 2);
    margin-left: 35px;
}

.footer-top-mid i {
    margin-right: 5px;
}

.footer-top-mid a {
    font-size: var(--p-font);
    line-height: 1.5;
}

.footer-top-mid a:not(:last-child) {
    margin-right: 50px;
}

.top i {
    padding: 10px;
    border-radius: 8px;
    font-size: 15px;
    color: var(--text-color);
    background: var(--main-color);
}

.footer-bottom {
    background: black;
    padding: 8px 15%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.last-text p {
    color: var(--text-color);
    font-size: 14px;
}

.footer-bottom .media-icons a {
    margin-right: 5px;
    font-size: var(--p-font);
}

/* Respossive */

@media (max-width: 1700px) {
    .header-top .container {
        padding: 0 12%;
    }
    header .navbar {
        padding: 0px 12%;
    }
    .home .media-icons {
        padding-left: 12%;
    }
    section {
        padding: 100px 12%;
    }
    .side-nav {
        width: 8%;
    }
    
    .footer-top {
        padding: 30px 12%;
    }
    .footer-bottom {
        padding: 8px 12%;
    }
}

@media (max-width: 1400px) {
    .header-top .container {
        padding: 0 3%;
    }

    header .navbar {
        padding: 0px 3%;
    }
    .home .media-icons {
        padding-left: 3%;
    }
    section {
        padding: 100px 3%;
    }
    .side-nav {
        display: none;
    }
    .footer-top {
        padding: 30px 3%;
    }

    .footer-bottom {
        padding: 8px 3%;
    }
}

@media (max-width: 1100px) {
    :root {
        --big-font: 3.8rem;
        --h2-font: 2.6rem;
        --h3-font: 1.8rem;
        --hl-p-font: 1.6rem;
        --p-font: 1.3rem;
        transition: 0.1s;
    }
    header .navbar {
        padding: 0px 3%;
    }
    .navbar .logo {
        height: 30px;
    }
    .navigation {
        line-height: 50px;
    }
    .menu-item > a {
        padding: 18px 0px;
    }
    .menu-item .sub-menu{
        top:50px
    }
    
    .footer-top {
        padding: 25px 3%;
    }
    .footer-top-mid a:not(:last-child) {
        margin-right: 25px;
    }
    .footer-top-left .logo-footer {
        height: 40px;
    }
    .last-text p {
        font-size: var(--p-font);
    }
}

@media (max-width: 920px) {
    .swiper-slide .text-content .title {
        font-size: calc(var(--big-font) * 1.5);
    }
    .contact {
        grid-template-columns: 1fr;
    }
    .footer-top-mid {
        display: flex;
        flex-direction: column;
    }
    .footer-top-mid a:not(:last-child) {
        margin-right: 0px;
    }
    .footer-top-mid a {
        margin-right: 0;
      
    }
}

@media (max-width: 700px) {
    .header-top-left a {
        padding: 8px 0px;
    }
    .navbar .logo {
        height: 25px;
    }
    .swiper-slide .text-content .title {
        font-size: var(--big-font);
        padding: 0 20px;
    }
    
    
    /* navigation menu */
    header .navbar {
        padding: 10px 3%;
    }
    .nav-menu-btn {
        display: block;
        font-size: calc(var(--p-font) * 2);
        cursor: pointer;
    }
    .nav-close-btn {
        font-size: calc(var(--p-font) * 2);
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px;
        cursor: pointer;
        transition: 0.3s ease;
    }
    .navigation {
        z-index: 99999;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background: rgba(100, 0, 4, 0.3);
        display: flex;
        align-items: center;
        justify-content: center;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s ease;
    }
    .navigation.active {
        visibility: visible;
        opacity: 1;
    }

    .navigation .menu {
        position: relative;
        background-color: var(--nav-color);
        width: 300px;
        max-width: 300px;
        display: grid;
        place-content: center;
        margin: 20px;
        padding: 40px;
        border-radius: 20px;
        transition: 0.3s ease;       
    }
    .navigation .menu-item{
        line-height: 30px;
    }
    .navigation .menu-item > a {
        display:block;
        text-align: center;
        margin: 5px 50px;
        transition: 0.3s ease;
        padding: 10px 0;
    }

    
    .menu-item .sub-menu{
        opacity: 1;
        position: relative;
        top: 0;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 10px;
        overflow: hidden;
        display: none;
    }
    .sub-menu .sub-item{
        text-align: center;
        
    }
    .sub-menu .sub-item a{
        border-bottom: none;
    }
    
    .footer-top-mid a:not(:last-child){
        margin-bottom: 5px;
    }
    .footer-top .top {
        display: none;
    }
}
@media (max-width: 340px){
    
    .footer-top-mid{
        max-width: 160px;
    }
}