* {
    box-sizing: border-box;
}

:root {
    --top-nav-color: #2d0000;
    --nav-color: #750005;
    /* --nav-color: #640004; */
    --bg-color: linear-gradient(to bottom, #640004, #2d0000);
    --sd-color-lv0:linear-gradient(to bottom, #1d0000, #270000);
    --sd-color: linear-gradient(to bottom, #270000, #430001);
    --font-daniel: "Daniel";
    --text-color: white;
    --main-color: #af0101;
    --big-font: 4.5rem;
    --h2-font: 4rem;
    --h3-font: 2rem;
    --hl-p-font: 2rem;
    --p-font: 1.6rem;
}

html {
    font-size: 62.5%;
}

body {
    background-image: var(--bg-color);
    color: var(--text-color);
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}

html,
body {
    scroll-behavior: smooth;
}

/* Common */

.btn {
    display: inline-block;
    min-width: 100px;
    padding: 10px;
    background: #c40000;
    border-radius: 10px;
    font-weight: 500;
    font-size: var(--p-font);
    text-align: center;
    color: var(--text-color);
}

.btn:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

section {
    padding: 100px 18%;
}

span {
    color: var(--main-color);
}

.side-nav {
    background: var(--sd-color);
    position: absolute;
    left: 0;
    top: 0;
    width: 10%;
    height: 100%;
}
.side-nav-lv0 {
    background: var(--sd-color-lv0);
}
.dropdown {
    margin-left: 7px;
}
.sub-title {
    font-family: var(--font-daniel);
    font-weight: bold;
    color: var(--main-color);
}
.contact-info {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: var(--p-font);
    font-weight: 400;
    color: var(--text-color);
}
/* Header */
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}

/* Top Header */
.header-top {
    
    background: var(--top-nav-color);
}
.header-top .container {
    display: flex;
    justify-content: flex-end;
    padding: 0 15%;
}

.header-top-left a {
    padding: 12px 0px ;
    
}
.header-top-left a:not(:last-child){
    margin-right: 30px;
}
.header-top .contact-info:hover {
    transform: scale(1.1) ;
}

.header-top .contact-info i {
    font-size: calc(var(--p-font) * 1.1);
    color: var(--main-color);
    margin-right: 5px;
}
.header-top .contact-info img {
    margin-right: 5px;
    
}

/* Navbar */
header .navbar {
    /* position: absolute;
    z-index: 9999;
    width: 100%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--nav-color);
    padding: 0px 15%;
    transition: all 0.45s ease;
}
/* .navbar.sticky {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--nav-color);
    transition: 0.5s ease;
} */
.navbar .logo {
    height: 40px;
}

.nav-close-btn,
.nav-menu-btn {
    display: none;
}
.navigation{
    position: relative;
    line-height: 70px;
}
.navigation .menu{
    position: relative;
    display:flex; 
    justify-content: center;  
    list-style: none;
    user-select: none;
}
.menu-item{
    position: relative;
}

.menu-item > a {
    font-weight: 500;
    font-size: var(--p-font);
    padding: 27px 0;
    margin: 0 22.5px;
}

.menu-item > a:hover { 
    text-shadow: 1px 0 0 currentColor;  
    /* opacity: 0.9; */
    transition: 0.1s;
}

.menu-item:last-child > a {
    margin-right: 0;
}

.menu-item .sub-menu{
    position: absolute;
    background: var(--nav-color);
    line-height: 40px;
    top: 70px;  
    pointer-events: none;
    transform: translateY(0px);
    opacity: 0;
    transition: 0.3s;
    transition-property: transform, opacity;
}
.menu-item:hover .sub-menu{
    pointer-events: all;
    transform: translateY(0px);
    opacity: 1;
    
}
.sub-menu .sub-item{
    position: relative;
    width: 175px; 
    cursor: pointer;  
    
}
.sub-menu .sub-item:hover{
    background: var(--text-color)
}


.sub-menu .sub-item a{ 
    font-weight: 400;
    font-size: var(--p-font); 
    display: block;
    padding: 0px 22.5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.sub-menu .sub-item:last-child a {
    border-bottom: none;
}
.sub-menu .sub-item:hover a{
    color: var(--main-color);
}
/* hero */
.home {
    position: relative;
    padding: 0;
    height: calc(100vh);
}
.home .media-icons {
    padding-left: 15%;
    z-index: 999;
    position: absolute;
    height: calc(100vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home .media-icons a {
    color: var(--text-color);
    font-size: calc(var(--p-font) * 1.7);
    margin: 10px 0;
}

.home .media-icons a:hover {
    transform: scale(1.1) translateX(5px);
}
/* background silder */
.bg-slider {
    z-index: 777;
    position: relative;
    width: 100%;
    height: calc(100vh);
}

.bg-slider .swiper-slide {
    position: relative;
    width: 100%;
    height: calc(100vh);
}
.bg-slider .swiper-slide img {
    position: relative;
    width: 100%;
    height: calc(100vh);
    object-fit: cover;
    object-position: center;
    background-size: cover;
    background-position: center;
    opacity: 0.97;
}
.swiper-slide .text-content {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 45%;
    transition: 0.3s ease;
    color: var(--text-color);
}
.swiper-slide .text-content img{
    height: 160px;
    width: auto;
    object-fit: cover;
}

.swiper-slide .text-content .title {
    font-size: calc(var(--big-font) * 2);
    font-weight: 700;
    text-shadow: -4px 4px 1px black;
    transform: translateY(-50px);
    opacity: 0;
    color: var(--main-color);
}
.swiper-slide .text-content .title-white{
    color: var(--text-color);
    text-shadow: -4px 4px 1px rgba(100, 0, 4, 1);
}

.swiper-slide-active .text-content .title {
    transform: translateY(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}

.bg-slider-thumbs {
    z-index: 777;
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s ease;
}

.thumbs-container {
    background: rgba(100, 0, 4, 0.1);
    backdrop-filter: blur(10px);
    padding: 10px 3px;
    border-radius: 10px;
    border-bottom: 1px solid rgba(100, 0, 4, 0.1);
    border-right: 1px solid rgba(100, 0, 4, 0.1);
}

.thumbs-container img {
    width: 50px;
    height: 35px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
}

.swiper-slide-thumb-active {
    border: 1px solid white;
}
/*  Intro*/
.intro{
    position: relative;
    padding: 100px 15% 80px;
}
.intro .info::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-image: url(../img/home/info-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: -7px 7px rgba(41, 2, 2, 0.8);

}
.intro .info {
    position: relative;
    padding: 40px 70px;
    
}
.intro .sub-title {
    position: relative;
    font-family: "Daniel";
    font-weight: bold;
    font-size: calc(var(--h3-font) * 1.5);
    /* font-size: var(--h2-font); */
    margin-bottom: 20px;
    color: var(--text-color);
    line-height: 1.5;
}
.intro .desc-wrap{
    position: relative;
    background-color: var(--text-color);
    padding: 20px 30px;
}
.intro .desc:first-child{
    font-weight: 700;
    font-size: calc(var(--p-font) * 1.12);
    line-height: 1.5;
    color: black;
    margin-top: 0;
    margin-bottom: 10px;
}
.intro .desc:first-child strong{
    color: var(--main-color)
}
.intro .desc {
    font-weight: 400;
    font-size: var(--p-font);
    line-height: 1.5;
    color: black;
}
/*Our Services*/
.services {
    padding: 0 15% ;
    position: relative;
    margin-bottom: 100px;
}
.services .container{
    position: relative;
}
.services .container::before{
    content: "";
    display: block;
    position: absolute;
    top: 960px;
    left: -620px;
    width: 600px;
    height: 550px;
    background-image: url(../img/home/decoration2.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.services .container::after{
    content: "";
    display: block;
    position: absolute;
    top: -220px;
    left: -380px;
    width: 400px;
    height: 350px;
    background-image: url(../img/home/decoration3.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.services .row {    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 600px 600px;
    gap: 2rem;
    margin-bottom: 4rem;
}
.services .row:last-child {
    margin-bottom: 0;
}

.services .item {
    position: relative;
    overflow: hidden;
}

.services .item:nth-child(4),
.services .item:last-child {
    grid-column: 1/4;
}
.service-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
    transition-property: transform, opacity;
}
.services .item:hover .service-image{
    transform: scale(1.05);
}

.service-image.land--img{
    object-position: -125px 0 ;
}
.services .details {
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: center; */
    background: rgba(100, 0, 4, 0.5);
    padding: 30px 20px;
}
.services .details-big{
    height: 22%;
}

.services .details h3 {
    margin-bottom: 10px;
    font-size: calc(var(--h2-font) * 0.9);
    font-weight: 800;
    transition-property: transform;
    line-height: 1;
}

/* .services .details .title-heating{
    font-size: calc(var(--big-font) * 0.73);
}
.services .details .title-graphic{
    font-size: calc(var(--big-font) * 0.73);
} */


/* .services .item:hover h3{
    transform: translateY(-20px);
} */


.services .details p {
    font-weight: 400;
    font-size: var(--p-font);
    line-height: 1.5;
    color: var(--text-color);
    transition: 0.1s;
}

.services .item:hover p {
    /* transform: translateY(-20px); */
}

/* FAQ  */
.accordion {
    position: relative;
    padding-bottom: 50px;
}
.accordion .col::before{
    content: "";
    display: block;
    position: absolute;
    top: -85px;
    left: -9%;
    width: 250px;
    height: 300px;
    background-image: url(../img/home/decoration1.png);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.8;
}
.accordion .col {
    position: relative;
    max-width: 100%;
}

.accordion .sub-title {
    font-size: var(--h2-font);
    font-family: "Daniel";
    margin-bottom: 30px;
}

.accordion .contentBx {
    position: relative;
}

.accordion .contentBx:last-child {
    margin-bottom: 0px;
}

.accordion h3 {
    font-weight: 500;
    font-size: var(--p-font);
    line-height: 1.5;
    position: relative;
    padding: 15px 0px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
    color: var(--text-color);
    cursor: pointer;
}

.accordion .contentBx h3::before {
    content: "+";
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
    font-weight: 300;
    color: var(--text-color);
}

.accordion .contentBx.active h3::before {
    content: "-";
    color: var(--main-color);
}

.accordion .contentBx.active h3 {
    color: var(--main-color);
    background: var(--text-color);
    padding-left: 15px;
    /* margin-left: 10px; */
}

.accordion p {
    font-weight: 400;
    font-size: var(--p-font);
    line-height: 1.5;
    position: relative;
    /* border-left: solid 5px var(--main-color); */
    color: var(--text-color);
    background-color: var(--bg-color);
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}

.accordion .contentBx.active p {
    height: auto;
    padding: 15px;
}

/* Contact Us */

.contact {
    position: relative;
    background-color: var(--bg-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* align-items: center; */
    gap: 5rem;
}
.contact .contact-left{
    position: relative;
}
.contact .contact-left::before{
    content: "";
    display: block;
    position: absolute;
    top: 1%;
    left: -108%;
    width: 600px;
    height: 550px;
    background-image: url(../img/home/decoration2.png);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.4;
}
.contact .sub-title {
    font-size: var(--h2-font);
    font-family: "Daniel";
}

.contact .contact-left .desc {
    margin: 20px 0;
    font-weight: 400;
    font-size: var(--p-font-p-font);
    line-height: 1.5;
    color: var(--text-color);
}

.contact-left .box .info {
    margin: 20px 0;
    font-weight: 400;
    font-size: var(--p-font);
    line-height: 1.5;
    color: var(--text-color);
}

.contact .contact-left h3 {
    font-weight: 500;
    font-size: var(--h3-font);
    color: var(--text-color);
    margin: 20px 0px;
}
.contact-left .list{
    margin-top: 30px;
}
.contact-left .list li {
    margin-bottom: 15px;
}

.contact-info {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: var(--p-font);
    font-weight: 400;
    color: var(--text-color);
}

.contact .contact-info:hover {
    color: var(--text-color);
    transform: translateX(10px);
}

.contact-info i {
    font-size: calc(var(--p-font));
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.contact-icons i {
    height: 40px;
    width: 40px;
    color: var(--main-color);
    font-size: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 15px;
    transition: all 0.45s ease;
}

.contact-icons i:hover {
    background: var(--text-color);
}
.contact .contact-right{
    position: relative;
}
.contact .contact-right::before{
    content: "";
    display: block;
    position: absolute;
    top:-25%;
    right: -40%;
    width: 500px;
    height: 480px;
    background-image: url(../img/home/decoration3.png);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.3;
}
.contact-right form {
    position: relative;
}

.contact-right form input,
form textarea,form button {
    font-family: "Poppins", sans-serif;
    width: 100%;
    padding: 17px;
    background: var(--text-color);
    color: black;
    border: none;
    outline: none;
    font-size: var(--p-font);
    border-radius: 12px;
    margin-bottom: 17px;
}

.contact-right textarea {
    resize: none;
    height: 240px;
}

.contact-right .submit {
    display: inline-block;
    font-size: var(--p-font);
    background: var(--main-color);
    color: var(--text-color);
    width: 130px;
    transition: all 0.45s ease;
    margin-bottom: 0px;
    padding: 10px;
}

.contact-right .submit:hover {
    transform: scale(1.01);
    cursor: pointer;
}

/* footer */
.end {
    border-top: var(--text-color) solid 3px;
    padding: 0px;
}
.footer-top {
    padding: 30px 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:  #430001;
}

.footer-top-left .logo-footer {
    height: 50px;
    
}
.footer-top-left p {
    font-size: calc(var(--p-font) / 2);
    margin-left: 35px;
}

.footer-top-mid i {
    margin-right: 5px;
}

.footer-top-mid a {
    font-size: var(--p-font);
    line-height: 1.5;
}

.footer-top-mid a:not(:last-child) {
    margin-right: 50px;
}

.top i {
    padding: 10px;
    border-radius: 8px;
    font-size: 15px;
    color: var(--text-color);
    background: var(--main-color);
}

.footer-bottom {
    background: black;
    padding: 8px 15%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.last-text p {
    color: var(--text-color);
    font-size: 14px;
}

.footer-bottom .media-icons a {
    margin-right: 5px;
    font-size: var(--p-font);
}

/* Respossive */

@media (max-width: 1700px) {
    .header-top .container {
        padding: 0 12%;
    }
    header .navbar {
        padding: 0px 12%;
    }
    .home .media-icons {
        padding-left: 12%;
    }
    section {
        padding: 100px 15%;
    }
    .side-nav {
        width: 8%;
    }
    .intro{
        padding: 80px 12% ;
    }
    .services {
        padding: 0px 12%;
    }
    .services .details h3 {
        font-size: calc(var(--h2-font) * 0.8);
      
    }
    .services .info {
        padding-top: 40px;
    }
    .footer-top {
        padding: 30px 12%;
    }
    .footer-bottom {
        padding: 8px 12%;
    }
}

@media (max-width: 1400px) {
    .header-top .container {
        padding: 0 3%;
    }

    header .navbar {
        padding: 0px 3%;
    }
    .home .media-icons {
        padding-left: 3%;
    }
    section {
        padding: 100px 3%;
    }
    .intro{
        padding: 80px 3% ;
    }
    .services {
        padding: 0px 3%;
    }
    .side-nav {
        display: none;
    }
    /* contact */
    .accordion .col::before ,
    .contact .contact-left::before,
    .contact .contact-right::before,
    .services .container::before,
    .services .container::after{
        display: none;
    }
    .footer-top {
        padding: 30px 3%;
    }

    .footer-bottom {
        padding: 8px 3%;
    }
}

@media (max-width: 1100px) {
    :root {
        --big-font: 3.8rem;
        --h2-font: 2.6rem;
        --h3-font: 1.8rem;
        --hl-p-font: 1.6rem;
        --p-font: 1.3rem;
        transition: 0.1s;
    }
    header .navbar {
        padding: 0px 3%;
    }
    .navbar .logo {
        height: 30px;
    }
    .navigation {
        line-height: 50px;
    }
    .menu-item > a {
        padding: 18px 0px;
    }
    .menu-item .sub-menu{
        top:50px
    }
    .swiper-slide .text-content img{
        height: 130px;
        
    }
    .services .details h3 {
        font-size: calc(var(--h2-font) * 1.2);
      
    }
    .services .row {
        grid-template-columns: 1fr 1fr;
    }

    .services .item:last-child {
        grid-column: 2/3;
    }
    .footer-top {
        padding: 25px 3%;
    }
    .footer-top-mid a:not(:last-child) {
        margin-right: 25px;
    }
    .footer-top-left .logo-footer {
        height: 40px;
    }
    .last-text p {
        font-size: var(--p-font);
    }
}

@media (max-width: 920px) {
    .swiper-slide .text-content .title {
        font-size: calc(var(--big-font) * 1.5);
    }
    .swiper-slide .text-content img{
        height: 100px;
        
    }
    .swiper-slide .text-content .title {
        text-shadow: 2px 2px 1px black; 
    }
    .contact {
        grid-template-columns: 1fr;
    }
    /* .footer-top-mid {
        display: flex;
        flex-direction: column;
    } */
    
    
}

@media (max-width: 700px) {
    .header-top-left a {
        padding: 8px 0px;
    }
    .header-top-left a:not(:last-child){
        margin-right: 15px;
    }
    /* navbar */
    .navbar .logo {
        height: 25px;
    }
    .swiper-slide .text-content .title {
        font-size: var(--big-font);
        padding: 0 20px;
    }
    .swiper-slide .text-content img{
        height: 65px;
        
    }
    /* background home */
    .home{
        height: calc(90vh );
    }
    .home .media-icons {
        height: calc(90vh);
    }
    .bg-slider {
        height: calc(90vh);
    }
    .bg-slider-thumbs {
        bottom: 5rem;
    }
    .swiper-slide .text-content {
        top: 42%;
    }
    /* .thumbs-container img {
        margin: 0;
    } */
    /* .thumbs-container{
        padding: 0;
        background:none;
        backdrop-filter: none;
    
        border-radius: 0;
        border-bottom: 0;
        border-right: 0;
    } */
    .thumbs-container{
        padding: 4px;
        width: auto !important;;
        border-radius: 3px;
    }
    .thumbs-container img{
        width: 30px;
        height: 22px;
        margin:0 4px 0 0;
        cursor: pointer;
        object-fit: cover;
        border-radius: 0;
    }
    .thumbs-container img:last-child {
        margin-right: 0;
    }
    
    /* .thumbs-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
    } */
    /* navigation menu */
    header .navbar {
        padding: 10px 3%;
    }
    .nav-menu-btn {
        display: block;
        font-size: calc(var(--p-font) * 2);
        cursor: pointer;
    }
    .nav-close-btn {
        font-size: calc(var(--p-font) * 2);
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px;
        cursor: pointer;
        transition: 0.3s ease;
    }
    .navigation {
        z-index: 99999;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background: rgba(100, 0, 4, 0.3);
        display: flex;
        align-items: center;
        justify-content: center;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s ease;
    }
    .navigation.active {
        visibility: visible;
        opacity: 1;
    }

    .navigation .menu {
        position: relative;
        background-color: var(--nav-color);
        width: 300px;
        max-width: 300px;
        display: grid;
        place-content: center;
        margin: 20px;
        padding: 40px;
        border-radius: 20px;
        transition: 0.3s ease;       
    }
    .navigation .menu-item{
        line-height: 30px;
    }
    .navigation .menu-item > a {
        display:block;
        text-align: center;
        margin: 5px 50px;
        transition: 0.3s ease;
        padding: 10px 0;
    }

    
    .menu-item .sub-menu{
        opacity: 1;
        position: relative;
        top: 0;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 10px;
        overflow: hidden;
        display: none;
    }
    .sub-menu .sub-item{
        text-align: center;
        
    }
    .sub-menu .sub-item a{
        border-bottom: none;
    }
   

    .services .row {
        grid-template-columns: 1fr;
        grid-template-rows: 600px 600px 600px 600px;
        margin-bottom: 2rem;
    }
    /* intro */
    .intro{
        padding: 50px 0% ;
    }
    .intro .info::before{
        box-shadow: none;
    }
    .intro .info {
        padding: 40px 10px;
    }
    .intro .desc-wrap {
        padding: 20px ;
    }
    /* Service */
    .services .details {
        padding: 15px;
        height: 20%;
    }
    .services .details h3 {
        font-size: calc(var(--h2-font));
    }
    .services .item:last-child {
        grid-column: 1/2;
    }
    .footer-top-mid {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .footer-top-mid a:not(:last-child) {
        margin-right: 0px;
        margin-bottom: 5px;
    }
    
    .footer-top .top {
        display: none;
    }
}
@media (max-width: 340px){
    
    .footer-top-mid{
        max-width: 160px;
    }
}